#%RAML 1.0
---
title: Individuals State Benefits (MTD)
description: List, retrieve, create or amend financial data for state benefit amounts.
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include docs/errors.md
 - title: Changelog
   content: !include docs/changelog.md
 - title: Support
   content: !include docs/support.md
 - title: Testing
   content: !include docs/testing.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml
  errors: errors.raml
  headers: headers.raml
  queryParameters: queryParameters.raml

'/individuals/state-benefits':
  /{nino}:
    uriParameters:
      nino: !include pathParameters/nino.raml
    /{taxYear}:
      uriParameters:
        taxYear: !include pathParameters/taxYearMinimum2020.raml
      post: !include endpoints/createBenefit.raml
      get: !include endpoints/listBenefits.raml
      /{benefitId}:
        uriParameters:
          benefitId: !include pathParameters/benefitId.raml
        put: !include endpoints/amendBenefit.raml
        delete: !include endpoints/deleteBenefit.raml
        /amounts:
          put: !include endpoints/amendBenefitAmounts.raml
          delete: !include endpoints/deleteBenefitAmounts.raml
        /ignore:
          post: !include endpoints/ignoreBenefit.raml
        /unignore:
          post: !include endpoints/unignoreBenefit.raml